.avatar {
	object-fit: cover;
	height: 120px;
	width: 120px;
	border-radius: 60px;
	overflow: hidden;
	background-color: #49beaa;
}

.avatar--shadow {
	box-shadow: -3px 6px 18px -3px rgba(87, 87, 87, 0.3);
	-webkit-box-shadow: -3px 6px 18px -3px rgba(87, 87, 87, 0.3);
	-moz-box-shadow: -3px 6px 18px -3px rgba(87, 87, 87, 0.3);
}
